/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Common */
html {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    scroll-behavior: smooth;
}

#band,
#album,
#tour,
#contact,
#footer {
    background-color: #01193b;
}

.text-white {
    color: #fff !important;
}

.text-left {
    text-align: left !important;
}

.text-center {
    text-align: center !important;
}

.text-right {
    text-align: right !important;
}

div[class*="-list"] {
    padding-top: 32px;
    padding-bottom: 32px;
}

.mtb-16 {
    margin-top: 16px;
    margin-bottom: 16px;
}

.row {
    margin-right: -8px;
    margin-left: -8px;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.col {
    float: left;
    padding-right: 8px;
    padding-left: 8px;
}

.col-full {
    width: 100%;
}

.col-2 {
    width: 50%;
}

.col-3 {
    width: calc(100% / 3);
}

.col-4 {
    width: calc(100% / 4);
}

/* Main */

#header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: 48px;
    background-color: #000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav > li {
    position: relative;
    display: inline-block;
}

#nav > li > a {
    display: block;
    line-height: 48px;
    padding-right: 24px;
    padding-left: 24px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}

#nav > li:hover > a {
    color: #000;
    background-color: #ccc;
}

#nav li:hover .subnav {
    display: block;
}

#nav .subnav {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    min-width: 160px;
    background-color: #fff;
    list-style-type: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a {
    display: block;
    line-height: 40px;
    padding-right: 16px;
    padding-left: 16px;
    text-decoration: none;
    color: #000;
}

#nav .subnav li:hover a {
    background-color: #ccc;
}

#nav .search-btn {
    float: right;
    line-height: 48px;
    padding-right: 24px;
    padding-left: 24px;
    color: #fff;
}

#nav .search-btn:hover {
    cursor: pointer;
    background-color: #f44336;
}

#slider {
    position: relative;
    margin-top: 48px;
    padding-top: 50%;
    background: url("../img/band/band.jpg") top center / cover no-repeat;
}

#slider .slider-text {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 32px;
    padding-bottom: 32px;
}

.slider-text .heading-text {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    background-color: rgba(120, 120, 120, 0.6);
}

.slider-text .description-text {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background-color: rgba(120, 120, 120, 0.6);
}

/* Content */

#content .section-content {
    width: 820px;
    max-width: 100%;
    padding: 64px 16px;
    margin-right: auto;
    margin-left: auto;
}

.section-content .heading-text {
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.section-content .sub-heading-text {
    font-size: 16px;
    font-style: italic;
    opacity: 0.6;
}

.section-content .history-text {
    font-size: 16px;
    text-align: justify;
}

/* Band */
/* Members list */

.members-list img {
    display: block;
    width: 100%;
    border-radius: 8px;
    border: 2px solid #fff;
    background-color: #273c58;
}

.members-list img:hover {
    cursor: pointer;
    opacity: 0.7;
}

/* Album */
table,
th,
td {
    border: 1px solid #a2a9b1;
    border-collapse: collapse;
}

table {
    margin-right: auto;
    margin-left: auto;
}

th {
    padding: 12px 8px;
    background-color: #273c58;
}

td {
    padding: 12px 8px;
}

/* Tour */
/* Tickets */
#tour .tickets {
    margin-top: 40px;
    list-style-type: none;
    font-size: 15px;
    background-color: #fff;
}

#tour .tickets li {
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
    color: #757575;
}

#tour .sold-out {
    display: inline-block;
    padding: 4px 8px;
    margin-left: 16px;
    background-color: #f44336;
}

#tour .quantity {
    float: right;
    padding-right: 8px;
    padding-left: 8px;
    margin-right: 16px;
    border-radius: 50%;
    background-color: #000;
}

/* Places list */
.places-list {
    font-size: 15px;
}

.places-list .place-body {
    margin-bottom: 16px;
}

.places-list img {
    display: block;
    width: 100%;
}

.places-list img:hover {
    cursor: pointer;
    opacity: 0.6;
}

.places-list .place-content {
    padding: 0.1px 16px;
    background-color: #fff;
}

.places-list .place-heading {
    font-weight: bold;
}

.places-list .place-time {
    opacity: 0.6;
}

.places-list .place-buy-btn {
    padding: 12px 16px;
    margin-bottom: 16px;
    border: none;
    color: #fff;
    background-color: #000;
}

.places-list .place-buy-btn:hover {
    cursor: pointer;
    color: #000;
    background-color: #ccc;
}

/* Contact */
.contacts-list .form-control {
    padding: 10px;
    width: 100%;
}

.contacts-list .send-btn {
    float: right;
    padding: 10px 16px;
    margin-bottom: 16px;
    border: none;
    color: #000;
    background-color: #fff;
}

.contacts-list .send-btn:hover {
    cursor: pointer;
    background-color: #ccc;
}

/* Map */
#map img {
    display: block;
    width: 100%;
}

/* Footer */
#footer {
    padding: 32px 16px;
}

#footer .info a {
    font-size: 14px;
    color: #f44336;
}

/* Modal */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal .modal-container {
    width: 900px;
    max-width: calc(100% - 40px);
    min-height: 400px;
    background-color: #fff;
    animation: modalDropDown ease 0.5s;
}

.modal .modal-close {
    float: right;
    padding: 8px 16px;
}

.modal .modal-close:hover {
    cursor: pointer;
    background-color: #f44336;
}

.modal .modal-header {
    padding: 42px 16px;
    font-size: 30px;
    letter-spacing: 2px;
    background-color: #273c58;
}

.modal .modal-content {
    padding: 0.1px 16px;
    font-size: 15px;
}

.modal .form-control {
    display: block;
    padding: 10px;
    width: 100%;
}

.modal .pay-btn {
    padding: 16px;
    width: 100%;
    border: none;
    font-weight: 550;
    color: #fff;
    background-color: #273c58;
}

.modal .pay-btn:hover {
    cursor: pointer;
    opacity: 0.6;
}

.modal .help a {
    color: #2196f3;
}

/* JavaScrip */
.open {
    display: flex;
}

@keyframes modalDropDown {
    from {
        transform: translateY(-140px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

#nav .search-btn {
    display: none;
}
